body, html {
  font-size: 100px; 
  text-align: center; 
}

/* 
background scroll effects only work in desktop versions with larger   screen sizes, preventing background images from getting distorted in smaller tablets, phones, etc.  
*/
@media (min-width:1400px)   {
  body {
    	background-repeat: no-repeat; 
      background-attachment: fixed;
      background-position: center; 
   }
}
